@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Smoth scroll */
    html {
        @apply scroll-smooth;
    }
}

@layer utilities {
    @layer responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem
}

@media (min-width: 450px) {
  .container {
      max-width:450px
  }
}

@media (min-width: 575px) {
  .container {
      max-width:575px
  }
}

@media (min-width: 768px) {
  .container {
      max-width:768px
  }
}

@media (min-width: 992px) {
  .container {
      max-width:992px
  }
}

@media (min-width: 1200px) {
  .container {
      max-width:1200px
  }
}

@media (min-width: 1400px) {
  .container {
      max-width:1400px
  }
}